---
import Header from "@src/components/Header.astro";
import Hero from "@src/components/Hero.astro";
import Layout from "@src/layouts/Layout.astro";
---

<Layout
  title="Clone Tesla web"
  description="Clone de app web de Tesla donde se aplica conceptos basicos de html , css y js"
>
  <Header />
  <main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
    <div class="hero__section snap-center">
      <Hero
        image="/images/model-y.avif"
        title="Disfruta de Tesla"
        description="Aprovecha y gana una prueba de conducción gratuita"
      />
    </div>
    <div class="hero__section snap-center">
      <Hero
        image="/images/model-3.avif"
        title="Nuevos productos"
        description="Es hora de hacer tus sueños realidad"
      />
    </div>
    <div class="hero__section snap-center">
      <Hero
        image="/images/Cybertruck.avif"
        title="Nuevos productos"
        description="Es hora de hacer tus sueños realidad"
      />
    </div>
  </main>
</Layout>
