---
import Header from "@src/components/Header.astro";
import Hero from "@src/components/Hero.astro";
import Layout from "@src/layouts/Layout.astro";
---

<style>
  main {
    scroll-snap-type: y mandatory;
  }
  main > .hero__section {
    scroll-snap-align: center;
  }
</style>

<Layout
  title="Clone Tesla web"
  description="Clone de app web de Tesla donde se aplica conceptos basicos de html , css y js"
>
  <Header />
  <main>
    <div class="hero__section">
      <Hero />
    </div>
    <div class="hero__section">
      <Hero />
    </div>
    <div class="hero__section">
      <Hero />
    </div>
    <div class="hero__section">
      <Hero />
    </div>
  </main>
</Layout>
