---
import Button from "@src/components/Button.astro";
import Header from "@src/components/Header.astro";
import Hero from "@src/components/Hero.astro";
import Layout from "@src/layouts/Layout.astro";
---

<Layout
  title="Tesla Clone — Réplica de la web oficial de Tesla"
  description="Este proyecto es una réplica de la página web de Tesla, una empresa líder en acelerar la transición global hacia la energía sostenible mediante vehículos eléctricos, energía solar y soluciones de energía renovable para hogares y negocios."
>
  <Header />
  <main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
    <div class="hero__section snap-center">
      <Hero
        image="/images/model-y.avif"
        title="Disfruta de Tesla"
        description="Aprovecha y gana una prueba de conducción gratuita"
      >
        <Button link="#" label="Más información" />
        <Button link="#" label="Prueba de conducción" />
      </Hero>
    </div>
    <div class="hero__section snap-center">
      <Hero
        image="/images/model-3.avif"
        title="Nuevos productos"
        description="Es hora de hacer tus sueños realidad"
      >
        <Button link="#" label="Más información" />
        <Button link="#" label="Prueba de conducción" />
      </Hero>
    </div>
    <div class="hero__section snap-center">
      <Hero
        image="/images/Cybertruck.avif"
        title="Nuevos productos"
        description="Es hora de hacer tus sueños realidad"
      >
        <Button link="#" label="Prueba de conducción" />
      </Hero>
    </div>
  </main>
</Layout>
