---
import Logo from "./Logo.astro";
---

<style>
  .header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 40;
    padding-inline: 1rem;
  }

  .header > h1 {
    flex: 1;
    flex-basis: 0;
  }

  .header > h1 a {
    width: 7rem;
  }

  .header nav a {
    padding: 1rem;
    font-size: 0.9375rem;
  }

  .nav1 {
    display: flex;
    justify-content: center;
  }

  .nav2 {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    flex-basis: 0;
  }

  @media (max-width: 1024px) {
    .header {
      padding: 1rem 1.5rem;
    }
    .header nav {
      display: none;
    }
    header .active {
      position: fixed;
      display: flex;
      flex-direction: column;
      background: white;
      color: black;
      top: 12rem;
      left: 50%;
      width: 90%;
      transform: translate(-50%, -50%);
      z-index: 50;
    }

    header .active a:hover {
      background: #eeee;
    }
    header .active a:active {
      background: #eeee;
    }
  }
</style>

<header class="header">
  <h1><a href="#"><Logo /></a></h1>

  <button
    id="btn-menu"
    class="header__btn header__btn-movile lg:hidden"
    aria-expanded="false"
    aria-controls="nav1"
  >
    <svg
      xmlns="
    http:
    www.w3.org
    2000
    svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-align-justify"
      ><line x1="3" x2="21" y1="6" y2="6"></line><line
        x1="3"
        x2="21"
        y1="12"
        y2="12"></line><line x1="3" x2="21" y1="18" y2="18"></line></svg
    >
  </button>

  <nav class="nav1">
    <a href="#">Vehicles</a>
    <a href="#">Energy</a>
    <a href="#">Charging</a>
    <a href="#">Discover</a>
    <a href="#">Shop</a>
  </nav>

  <nav class="nav2">
    <a href="/"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-badge-help"
        ><path
          d="M3.85 8.62a4 4 0 0 1 4.78-4.77 4 4 0 0 1 6.74 0 4 4 0 0 1 4.78 4.78 4 4 0 0 1 0 6.74 4 4 0 0 1-4.77 4.78 4 4 0 0 1-6.75 0 4 4 0 0 1-4.78-4.77 4 4 0 0 1 0-6.76Z"
        ></path><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line
          x1="12"
          x2="12.01"
          y1="17"
          y2="17"></line></svg
      ></a
    >
    <a href="/about"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-globe"
        ><circle cx="12" cy="12" r="10"></circle><path
          d="M12 2a14.5 14.5 0 0 0 0 20 14.5 14.5 0 0 0 0-20"></path><path
          d="M2 12h20"></path></svg
      ></a
    >
    <a href="/blog"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-circle-user-round"
        ><path d="M18 20a6 6 0 0 0-12 0"></path><circle cx="12" cy="10" r="4"
        ></circle><circle cx="12" cy="12" r="10"></circle></svg
      ></a
    >
  </nav>
</header>

<script type="module" is:inline>
  const btnMovile = document.getElementById("btn-menu");
  const nav1 = document.querySelector(".nav1");

  btnMovile.addEventListener("click", () => {
    const expanded =
      btnMovile.getAttribute("aria-expanded") === "true" || false;
    btnMovile.setAttribute("aria-expanded", !expanded);
    nav1.classList.toggle("active");
  });

  window.addEventListener("resize", () => {
    if (window.innerWidth > 1024) {
      nav1.classList.remove("active");
    }
  });

  document.addEventListener("click", (e) => {
    if (!nav1.contains(e.target) && !btnMovile.contains(e.target)) {
      nav1.classList.remove("active");
      btnMovile.setAttribute("aria-expanded", false);
    }
  });
</script>
