---
interface Props {
  image: string;
  title?: string;
  description?: string;
}

const { image, title, description } = Astro.props;
---

<style>
  .hero {
    height: 100dvh;
    text-align: center;
    overflow: hidden;
    position: relative;
    padding-top: 6rem;
  }

  .hero__content {
    position: relative;
    z-index: 30;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .hero__text h2 {
    padding-top: 1rem;
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 700;
  }

  .hero__text p {
    font-size: 0.9rem;
    padding: 1rem;
    font-weight: 500;
  }

  .hero__btn {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: flex-end;
    padding-bottom: 13vh;
  }

  .hero__btn > div {
    display: flex;
    place-content: center;
    gap: 1rem;
  }

  @media (max-width: 1024px) {
    .hero__btn {
      padding-bottom: 10dvh;
    }
    .hero__btn > div {
      flex-direction: column;
      padding: 1rem;
    }
  }

  .hero__img {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
  }

  .hero__img .img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    background-position: center center;
    background-repeat: no-repeat;
  }
</style>

<section class="hero">
  <div class="hero__img">
    <img class="img" src={image} alt="hero imagen" />
  </div>
  <div class="hero__content">
    <header class="hero__text">
      <h2>{title}</h2>
      <p>
        {description}
      </p>
    </header>

    <footer class="hero__btn">
      <div>
        <slot />
      </div>
    </footer>
  </div>
</section>
